<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire Interns and Freshers From India | Company Registration  | Intern Theory</title>
    <link rel="stylesheet" href="/css/loginform.css" />
    <link rel="stylesheet" href="/css/temp.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .inner-box{
    width: 37%;
}

.m-zero{
    margin: 1.5% 0;
}

.form>div:nth-child(1){
    display: flex;
}
.form>div:nth-child(1)>input{
    width: 44%;
}

@media only screen and (max-width:700px) {
    .inner-box{
        width: 100%;
    }
}

@media only screen and (min-width:700px) and (max-width:1012px) {
    .inner-box{
        width: 60%;
    }
}
    </style>
</head>
<body>
    <div id="nn123">
    </div>
    <div class="login">
        <div class="inner-box">
            <div>
                <h2 class="m-zero">Register Candidate</h2>
            </div>
              <% if(typeof alert != 'undefined' ) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p>Please provide valid input</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

         <%  } %> 

            <div>
                <p class="m-zero">Already have an account?
                    <a href="/login/new">Sign in</a>
                </p>
            </div>
            <div class='loginpara'>
                <p>If you are a company looking to hire interns, please login as a company by clicking <a
                        href="/login/company/new">here</a>
                </p>
            </div>
            <div class="fbGoogle bg-icon-color1">
                <a href="">
                    <span>
                        <img class="iconImg"
                            src="https://www.interntheory.com/assets/iconsLogos/facebook-circular-logo.svg" height="25">
                        <span style="margin-left: 20%;">SIGNIN WITH FACEBOOK</span>
                    </span>
                </a>
            </div>
            <div class="fbGoogle bg-icon-color2">
                <a href="">
                    <span>
                        <img class="iconImg" src="https://www.interntheory.com/assets/iconsLogos/googlelogo.svg"
                            height="25">
                        <span style="margin-left: 20%;">SIGNIN WITH GOOGLE</span>
                    </span>
                </a>
            </div>
            <div class="or">
                <h5>OR</h5>
            </div>
            <div>
                <form class="form" action="/register" method="post" enctype="multipart/form-data">
                    <div>
                        <input id="first" type="text" name ="first_Name" placeholder="first Name">
                        <input id="last" type="text" name ="last_name" placeholder="last Name">
                    </div>
                    <!-- <label for="email">Email/Number</label> -->
                    <input type="text" placeholder="Email/Number*" name ="email" id="email" required />
                    <!-- <label for="password">Password</label> -->
                    <input onclick="restForm()" type="password" name="password" placeholder="Password*" id="password" required />
                    <div id="hide">
                        <input id="mobile" type="num" name="mobile" placeholder="Mobile Number" required>
                        <input id="city" type="text" name="city" placeholder="Select City" required>
                        <input id="preference" type="text" name="preference" placeholder="Preferences Select one or more *" required>
                        <input id="howfind" type="text" name="howfind" placeholder="How did you find us *" required>
                        <input id="lookingfor" type="text" name="lookingFor" placeholder="What are you looking for? *" required>
                        <input id="affilate" type="text" name="affilate" placeholder="Affilate Code (if any)">
                    </div>
                    <button id="registerStudbtn" class="login_btn">Register</button>
                </form>
            </div>
        </div>
    </div>

    <div id="footer">
        <%- include('../partials/footer') %>
    </div>

</body>
</html>
<script>
    let hideform=document.getElementById('hide')
    hideform.style.display='none'
   function restForm(){
    hideform.style.display='block'
    document.querySelector('.login').style.height='55rem'
}

</script>


   
<script type="module">

    let user_info = JSON.parse(localStorage.getItem("user_info1"))
    
    import  {n12345,nbar12345 , afterLogout}  from '/js/navbar.js'
    

    if (user_info === null ) {
        document.getElementById('nn123').innerHTML = nbar12345();
    }
    
    else {
    
        document.getElementById('nn123').innerHTML = n12345(user_info.userid);
    
        let name = document.getElementById('name');
            name.innerText = user_info.userfir + " " +user_info.userlast;
    
            let mail = document.getElementById('mail');
            mail.innerText = user_info.useremail;
            
            let phno = document.getElementById('phno');
            phno.innerHTML= user_info.usermobile;

            let profile_img1 = document.getElementById('profile_img1');
            let profile_img2 = document.getElementById('profile_img2');
    
    
            afterLogout();
            
            if(user_info.usergen === "Male"){
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
                profile_img2.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
             }
            else{
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
                profile_img2.src = "https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
            }
    
    
    }
    
    
    $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
    
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
        });
        $('.feat1-btn').click(function () {
            $('nav ul .feat1-show').toggleClass("show1");
        });
        $('.feat2-btn').click(function () {
            $('nav ul .feat2-show').toggleClass("show2");
        });
    
    </script>
    
