<div id="content">
    <div id="upper_part">
        <div id="footer_image">
            <img src="https://image.flaticon.com/icons/png/512/220/220200.png" />
            <img src="https://image.flaticon.com/icons/png/512/1409/1409945.png" />
            <img src="https://image.flaticon.com/icons/png/512/124/124021.png" />
            <img src="https://image.flaticon.com/icons/png/512/2111/2111463.png" />
        </div>
        <div>
            <ul>
                <li class="footer_text">BY PLACE</li>
                <hr>
                <li class="footer_text"><a href="#">Internships In Mumbai</a></li>
                <li class="footer_text"><a href="#">Internships In Delhi</a></li>
                <li class="footer_text"><a href="#">Internships In Bangalore</a></li>
                <li class="footer_text"><a href="#">Internships In Pune</a></li>
                <li class="footer_text"><a href="#">Internships In Hyderabad</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="footer_text">BY PROFILE</li>
                <hr>
                <li class="footer_text"><a href="#">Marketing Internships</a></li>
                <li class="footer_text"><a href="#">Business Development Internships</a></li>
                <li class="footer_text"><a href="#">Content Writing Internships</a></li>
                <li class="footer_text"><a href="#">Graphic Designing Internships</a></li>
                <li class="footer_text"><a href="#">HR Internships</a></li>
                <li class="footer_text"><a href="#">Engineering Internships</a></li>

            </ul>
        </div>
        <div>
            <ul>
                <li class="footer_text">BY TYPE</li>
                <hr>
                <li class="footer_text"><a href="#">Full Time Internships</a></li>
                <li class="footer_text"><a href="#">Part Time Internships</a></li>
                <li class="footer_text"><a href="#">Work From Home Internships</a></li>

            </ul>
        </div>
    </div>
    <div id="lower_part">

        <div id="detail">
            <div><a href="#">FIND INTERNSHIP</a></div>
            <div><a href="#">POST INTERNSHIP</a>
            </div>
            <div><a href="#">COURSES</a></div>
            <div><a href="#">TERMS AND CONDITIONS</a></div>
            <div><a href="#">PRIVACY POLICY</a></div>
            <div><a href="#">CONTACT US</a></div>
            <div><a href="#">ABOUT US</a></div>
            <div><a href="#">SITEMAP</a></div>

        </div>
        <div id="year">
            <div><a href="#">© 2015 - 2021 INTERNTHEORY. ALL RIGHTS RESERVED.</a></div>
        </div>
    </div>
</div>