#nn123{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}
img{
  cursor: pointer;
}
#navbar{
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  margin: 0px;
  z-index: 10;
  box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 20%);
}
nav{
  display: flex;
  justify-content: space-between;
}
#right_div a{
  margin-right:10px;
}
#right_div{
  margin-right: 25px;
}
#right_div,#left_div{
  display: flex;
  margin-top: 10px;
}
#right_div div{
  padding: 8px;
  margin-right:10px;
  border-radius: 50%;
}
#right_div div:hover ,#left_div #humburger:hover{
  background-color: rgb(185, 181, 181);
  border-radius: 50%;
}
#navbar_intern_logo{
    margin-top:10px;
  height: 45px;
  margin-left: 10px;
}

#user_icon img , #notify_icon img ,#cart_logo img {
  width: 35px;
  height: 30px;
  /* border-radius:50%; */
}
#humburger{
  /* margin-top: 5px; */
margin-bottom: 8px;
margin-left: 10px;
}
#humburger.click{
left:260px; 
}
#humburger img{
  margin-top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#signin {
  background-color: rgb(255, 0, 0);
  padding: 10px 0px;
  margin:4px 20px 15px 0px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
  #signin:hover {
  background-color: rgb(94, 2, 2);
} 

#signin>a{
  text-decoration:none;
  color:white;
}
.btn{

  transition: left 0.4s ease;
  display: flex;
  padding:3px;
}
i{
  padding-right:40px;
  padding:20px;
}
.btn .click{
  left:260px; 
}
.btn span{
  color:black;
  font-size: 20px;
  line-height: 45px;
}
.btn span:hover{
  border-radius: 100%;
}
.sidebar{
  position: fixed;
  width:300px;
  height: 100%;
  left:-350px;
  background: white;
  transition: left 0.4s ease;
  overflow-y: scroll;
}

.sidebar.show{
  left:0px;
}
.a{
  display: flex;
  padding:10px;
  height: 70px;
  border: 0.5px solid rgb(221, 220, 220);
  font-style:inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.per_info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 0px;
  width: 100%;
}
#name{
  color: #3C4858;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
  margin: 0;
  display: block;
  overflow-wrap: break-word;
}
#mail ,#phno{
  margin: 0;
    display: block;
    overflow-wrap: break-word;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}
/* a{
  color:rgb(1, 1, 29) ;
} */

.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}


nav ul{
  background: white;
  height: 40%;
  width:100%;
  list-style: none;

}
nav ul li{
  line-height: 30px;
  width:100%;

}
.m{
  border: 0.5px solid rgb(221, 220, 220);

}
.b img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
nav ul li a{
  color:rgb(19, 18, 18);
  text-decoration: none;
  font-size: 15px;
  height: 3rem;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left:3px solid transparent;

}
nav ul li a:hover{
 
  background: rgb(212, 210, 210);
  border-left-color: cyan;

}
nav ul ul{
  position:static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .feat1-show.show1{
  display: block;

}
nav ul .feat2-show.show2{
  display: block;

}
nav ul ul li{
  line-height: 42px;
  border-bottom:none;
}
nav ul ul li a{
  font-size: 14px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a span{
  position:absolute;
  padding:20px;
  margin-top:30px;
  right:20px;
  transform: translateY(-50%);
  font-size: 18px;
  transition: transform 0.4s;
}
nav ul li a span:hover{
  transform: translateY(-50%) rotate(-180deg);
  color: cyan;
}



@media(max-width:1024px){
  #signin{
    display: none;
  }
}


@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}



  #navbar{
    width: 100vw;
  }

