<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internships and Online Courses for College Students | Intern Theory</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/temp.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>

<body>
    

    <!-- nav bar using import export fuctionality -->
    
    <div id="nn123">
    </div>

    <!-- after login nav bar using import export fuctionality -->
    <!-- <div id="afternav1234"></div> -->

    <!---- 1st div-->
    

    <div id="first-container">
       
        <div id="change-opacity">
            
            <h5>Let's Get You <b>Ready</b> </h5>
            <p>The One Stop Upgrade Your Resume.Expand Your Skillset.Do An Internship.Get Placed.</p>
            <div id="inner_div">
                <div id="divider">
                    <div id="divider_1">
                        <div>
                            <select id="cities">
                                <option>Cities..</option>
                                <option value="Abhayapuri">Abhayapuri</option>
                                <option value="Ahemdabad">Ahemdabad</option>
                                <option value="Ajmer">Ajmer</option>
                                <option value="Banka">Banka</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Etawah">Etawah</option>
                                <option value="Fatehpur">Fatehpur</option>
                                <option value="Gaya">Gaya</option>
                            </select>
                        </div>
                        <div>
                            <select id="type">
                                <option>Types..</option>
                                <option value="fulltime">Full time</option>
                                <option value="parttime">Part time</option>
                                <option value="workfromhome">Work from Home</option>
                            </select>
                        </div>
                        <div>
                            <select id="Preference">
                                <option>Preference..</option>
                                <option value="advertising">Advertising</option>
                                <option value="animation">Animation</option>
                                <option value="app design development">App design development</option>
                                <option value="Branding">Branding</option>
                                <option value="ca">CA</option>
                                <option value="ENGINEERING">Engineering</option>
                                <option value="digital marketing">Digital Marketing</option>
                                <option value="Fashion Design">Fashion Design</option>
                                <option value="Excel">Excel</option>
                                <option value="finance">Finance</option>
                                <option value="software development">Software development</option>
                            </select>
                        </div>
                    </div>
                    <div id="divider_2">
                        <div id="sec1">OR</div>
                        <div id="sec2">
                            <div id="sec3"> <input id="search" type="search" placeholder="Search" /></div>
                            <div><button id="srhbtn">SEARCH</button></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd div -->

    <div id="sec_container">
        <div id="cont_left">
            <h2>PLETHORA OF OPPORTUNITIES <b><span> FOR YOU</span></b></h2>
            <p>We are on a mission to connet employers to young talent all over India .With our strong coperate network
                ,it will no longer be a challenge to find the right internship for you. </p>
        </div>
        <div class="logobox">
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-1.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-2.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-3.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-4.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-5.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-6.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-7.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-8.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-9.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-10.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-11.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-12.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-13.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-14.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-15.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-16.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-17.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-18.png"></div>

            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-19.png"></div>
            <div><img src="https://assets.interntheory.com/creative/home-logo/logo-20.png"></div>
        </div>
    </div>

    <!-- 3rd div -->

    <div id="workExp_container">
        <h5>LET'S GET SOME <b>WORK EXPERIENCE</b></h5>
        <div id="internship">
            <div id="internshipExp1"><img
                    src="https://assets.interntheory.com/creative/home-internships/Marketing-Icon.jpg"></div>
            <div id="internshipExp2"><img src="https://assets.interntheory.com/creative/home-internships/BD.jpg"></div>
            <div id="internshipExp3"><img
                    src="https://assets.interntheory.com/creative/home-internships/Content-Writing.jpg"> </div>
            <div id="internshipExp4"><img src="https://assets.interntheory.com/creative/home-internships/Graphic.jpg">
            </div>
            <div id="internshipExp5"><img src="https://assets.interntheory.com/creative/home-internships/Finance.jpg">
            </div>
            <div id="internshipExp6"><img src="https://assets.interntheory.com/creative/home-internships/HR.jpg"></div>
            <div id="internshipExp7"><img src="https://assets.interntheory.com/creative/home-internships/Eng.jpg"></div>
            <div id="AllInternships"><img
                    src="https://assets.interntheory.com/creative/home-internships/All-Internships.jpg"></div>
        </div>
    </div>


    <!-- 4th div -->

    <div id="course_container">
        <h5>HOW ABOUT <b><span> UPSKILLING ?</span></b></h5>
        <div id="course">
            <div> <img src="https://assets.interntheory.com/creative/home-courses/Homepage-stock.jpg" alt=""></div>
            <div> <img src="https://assets.interntheory.com/creative/home-courses/Homepage-digital.jpg" alt=""></div>
            <div><img src="https://assets.interntheory.com/creative/home-courses/Homepage-web.jpg" alt="">
            </div>
        </div>

    </div>

    <!-- 5th div - growth -->

    <div id="growth_container">

        <div id="imagetree">
            <img style="max-width:300px" src="https://assets.interntheory.com/creative/chart.png" />
        </div>

        <div id="text_part">
            <h2>WE ARE CONSTANTLY <b><span> GROWING </span></b></h2>
            <p>we are on a mission to help every student in India.Upgrading your CV and getting you a meaningful job
                remains our sole motive and we not stopping anytime soon.</p>
        </div>

    </div>

    <!-- 6th div - testimonial -->

    <div class="carousel">
        <div class="carousel__item  carousel__item--visible">
            <div id="testimonial">

                <div id="testimonial_innerdiv">
                    <div id="intern_img ">
                        <img class="e" src="https://assets.interntheory.com/img/testimonial-image/in3.jpg">
                        <h5>Amani Nagda</h5>
                        <span class="span">Intern at Viacomn 18</span>
                    </div>
                    <hr>
                    <div id="intern_text">
                        <p>"i was on a look out for an internship to spend my summer productively and istumbled upon
                            inter
                            Theory. Their team was very kind and kept me updated . I applied for viacom 18 and got
                            through
                            .I thank Intern Theory team for giving me this Opportunity". </P>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel__item">
            <div id="testimonial">
                <div id="testimonial_innerdiv">
                    <div id="intern_img ">
                        <img class="e" src="https://assets.interntheory.com/img/testimonial-image/in2.jpg">
                        <h5>Siddharth Viyyapu</h5>
                        <span class="span">Intern at Gooseberry Homes</span>
                    </div>
                    <hr>
                    <div id="intern_text">
                        <p>"I created my profile because I had before Intern Theory, not come across a consultancy that
                            would execute the responsibility of getting a result for your application irrespective of
                            being failure or success the way they did. They've set the bars really high! Kudos team!".
                        </P>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel__item">
            <div id="testimonial">
                <div id="testimonial_innerdiv">
                    <div id="intern_img ">
                        <img class="e" src="https://assets.interntheory.com/img/testimonial-image/in4.jpg">
                        <h5>Harshil Bhadra</h5>
                        <span class="span">Intern at Porsche</span>
                    </div>
                    <hr>
                    <div id="intern_text">
                        <p>"If you are more than satisfied with a particular product/firm who gives you more than you
                            expect then there’s no need to find a substitute. Its similar with Intern Theory, the best
                            team who makes continuous efforts and always ready to help! Thanks for giving me the best
                            start". </P>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel__item">
            <div id="testimonial">
                <div id="testimonial_innerdiv">
                    <div id="intern_img ">
                        <img class="e" src="https://assets.interntheory.com/img/testimonial-image/in1.jpg">
                        <h5>Sshikha Bodwaani</h5>
                        <span class="span">Sr. Exec. HR at BookMyShow</span>
                    </div>
                    <hr>
                    <div id="intern_text">
                        <p>"We have been using InternTheory for over a year now and are very happy with the quality of
                            applications that we receive. Their team has been very helpful in screening applications for
                            the various internship requirements we had. It has been a delight working with them". </P>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel__actions">
            <button id="carousel__button--prev" aria-label="Previous slide"><</button>
                    <button id="carousel__button--next" aria-label="Next slide">></button>
        </div>
    </div>

    <!-- 7th div - footer -->

    <div id="footer">
        <%- include('../partials/footer') %>
    </div>
</body>

</html>


<script type="module">
   

    window.internshipExp1.addEventListener('click', () => {location.href="internships?search=Marketing" })
    window.internshipExp2.addEventListener('click', () => { location.href="internships?search=Business Development"  })
    window.internshipExp3.addEventListener('click', () => { location.href="internships?search=Content Writing"  })
    window.internshipExp4.addEventListener('click', () => { location.href="internships?search=Graphic Designing"  })

    window.internshipExp5.addEventListener('click', () => { location.href="internships?search=Finance"  })
    window.internshipExp6.addEventListener('click', () => { location.href="internships?search=Human Resource" })
    window.internshipExp7.addEventListener('click', () => { location.href="internships?search=Engineering"  })
    window.AllInternships.addEventListener('click', () => { location.href="internships" })

</script>


<script>
    //slide part
    let slidePosition = 0;
    const slides = document.getElementsByClassName('carousel__item');
    const totalSlides = slides.length;
    //console.log(slides)
    document.
        getElementById('carousel__button--next')
        .addEventListener("click", function () {
            moveToNextSlide();
        });
    document.
        getElementById('carousel__button--prev')
        .addEventListener("click", function () {
            moveToPrevSlide();
        });

    function updateSlidePosition() {
        for (let slide of slides) {
            slide.classList.remove('carousel__item--visible');
            slide.classList.add('carousel__item--hidden');
        }

        slides[slidePosition].classList.add('carousel__item--visible');
    }

    function moveToNextSlide() {
        if (slidePosition === totalSlides - 1) {
            slidePosition = 0;
        } else {
            slidePosition++;
        }

        updateSlidePosition();
    }

    function moveToPrevSlide() {
        if (slidePosition === 0) {
            slidePosition = totalSlides - 1;
        } else {
            slidePosition--;
        }

        updateSlidePosition();
    }

</script>

   
<script type="module">

    let user_info = JSON.parse(localStorage.getItem("user_info1"))
    
    import  {n12345,nbar12345 , afterLogout}  from '/js/navbar.js'
    

    if (user_info === null ) {
        document.getElementById('nn123').innerHTML = nbar12345();
    }
    
    else {
    
        document.getElementById('nn123').innerHTML = n12345(user_info.userid);
    
        let name = document.getElementById('name');
            name.innerText = user_info.userfir + " " +user_info.userlast;
    
            let mail = document.getElementById('mail');
            mail.innerText = user_info.useremail;
            
            let phno = document.getElementById('phno');
            phno.innerHTML= user_info.usermobile;

            let profile_img1 = document.getElementById('profile_img1');
            let profile_img2 = document.getElementById('profile_img2');
    
    
            afterLogout();
            
            if(user_info.usergen === "Male"){
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
                profile_img2.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
             }
            else{
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
                profile_img2.src = "https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
            }
    
    
    }
    
    
    $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
    
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
        });
        $('.feat1-btn').click(function () {
            $('nav ul .feat1-show').toggleClass("show1");
        });
        $('.feat2-btn').click(function () {
            $('nav ul .feat2-show').toggleClass("show2");
        });
    
    </script>
    
