<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internships and Jobs for Students in India  | Intern Theory</title>
    <link rel="stylesheet" href="/css/loginform.css">
    <link rel="stylesheet" href="/css/temp.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
        .form>div:nth-child(1) {
            display: flex;
        }

        .form>div:nth-child(1)>input {
            width: 44%;
        }


        .inner-box {
            width: 70%;
            height: 37rem;
            position: sticky;
            top: 71px;
            margin-bottom: 4rem;
        }

        .container {
            display: flex;
            background: no-repeat 0 0/100vw url(https://assets.interntheory.com/creative/Web-Banner.jpg);
            margin-bottom: 0;
        }

        .article-1 {
            width: 80%;
            display: block;
            /* border: 2px solid black; */
            margin: 5rem auto;
            align-items: center;
            text-align: center;
        }

        .article-2 {
            width: 80%;
            display: block;
            /* border: 2px solid black; */
            margin: 12rem 0rem 7rem 10rem;
            align-items: center;
            text-align: center;
        }

        .article-3 {
            width: 40%;
            display: block;
            /* border: 2px solid black; */
            margin: 5rem 10rem;
            align-items: center;
            text-align: center;
        }

        .box-3 {
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-content: space-between;
            gap: 1rem;
        }

        .a2_box1 {
            width: 50%;
            margin: auto;
        }

        .a3_box3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: stretch;
        }

        .a3_box3>div {
            width: 45%;
            background-color: white;
            margin: 0.4rem;
        }

        .a3_box3>div>div:nth-child(1) {
            width: 40%;
            margin: auto;
        }

        #container-1 {
            width: 100vw;
            background: no-repeat 0 0/100vw url(https://assets.interntheory.com/creative/Web-Banner.jpg);
        }

        .m-zero {
            margin: 1.5% 0;
        }

        #yo {
            /* border: 2px solid black; */
            width: 100%;
            background-color: white;
        }

        #yo>div {
            width: 78%;
            margin: auto;
            align-items: center;
            text-align: center;
        }

        #yo>div>div {
            display: flex;

        }

        #yo>div>div>div {
            width: 34%;
            margin: 0 .3rem;
        }

        #yo>div>div>div>img {
            max-width: 30%;
        }

        .spanRed {
            color: red;
        }

        .headingx {
            font-size: 28px;
            font-weight: 800;

        }
        .parax {
            color: #3C4858;
            font-size: 0.875rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.01071em;
        }

        .a3_box3>div>div>img {
            max-width: 85%;
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <div id="nn123">
    </div>
    <div class="container">
        <div style="display: block; height: 124rem; width: 50%; ">
            <article class="article-1">
                <div class="box-1">
                    <h1>16265 Companies</h1>
                </div>
                <div class="box-2">
                    <h2>Trust Us With Their Intern Requirements Wouldn't You?</h2>
                </div>
                <div class="box-3">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-1.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-2.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-3.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-4.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-5.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-6.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-7.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-8.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-9.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-10.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-11.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-12.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-13.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-14.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-15.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-16.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-17.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-18.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-19.png">
                    <img src="https://assets.interntheory.com/creative/home-logo-colored/logo-20.png">
                </div>
            </article>

            <article class="article-2">
                <div class="a2_box1">
                    <img style="max-width: 100%;" src="https://assets.interntheory.com/creative/chart.png">
                </div>
                <div class="a2_box2">
                    <h1 class="headingx m-zero">WE ARE CONSTANTLY <span class="spanRed">GROWING</span>
                    </h1>
                </div>
                <hr>
                <div class="a2_box3">
                    <p class="parax m-zero">We are on a mission to connect employers to young talent all over India.
                        With our
                        strong student
                        and
                        college network, it will no longer be a challenge to hire the right intern for your company</p>
                </div>
            </article>
            <div id="container-1">


                <article class="article-3">
                    <div style="padding-top: .2rem">
                        <h1 class="headingx ">How Does <span class="spanRed">It Work?</span></h1>
                    </div>
                    <div>
                        <p class="m-zero">We decided to keep the process as simple and hassle-free as possible :) !</p>
                    </div>
                    <div class="a3_box3">
                        <div>
                            <div>
                                <img src="https://assets.interntheory.com/creative/stepIcons/sign-up.png" alt="">
                            </div>
                            <div>
                                <h3 class="headingx m-zero">Sign Up</h3>
                            </div>
                            <div>
                                <p class="parax m-zero">Create an account on InternTheory by filling the form on the
                                    right.</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="https://assets.interntheory.com/creative/stepIcons/Post-Internship.png"
                                    alt="">
                            </div>
                            <div>
                                <h2 class="m-zero">Post An Internship For Free</h2>
                            </div>
                            <div>
                                <p class="parax m-zero">Share details on the kind of intern you are looking for by filling our internship
                                    form.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src='https://assets.interntheory.com/creative/stepIcons/Notification.png' alt="">
                            </div>
                            <div>
                                <h2 class="m-zero">Receive Notifications on Email</h2>
                            </div>
                            <div>
                                <p class="parax m-zero">Once your internship is verified, the relevant students and placement networks will
                                    be
                                    notified via our match-making algorithms and Pan-India network
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src='https://assets.interntheory.com/creative/stepIcons/Review,shortlist&-hire.png'
                                    alt="">
                            </div>
                            <div>
                                <h2 class="m-zero">Review Profile, Shortlist & Hire!</h2>
                            </div>
                            <div>
                                <p class="parax m-zero">Students with matching eligibility and availability will apply. You can review their
                                    profile on your dashboard, and get in touch with the one you like!
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <aside>
            <div class="inner-box">
                <div>
                    <h2 class="m-zero">Start hiring Interns</h2>
                </div>
                <div>
                    <p class="m-zero">Already have an account?
                        <a href="/login/company/new">Sign in</a>
                    </p>
                </div>
                <div class='loginpara'>
                    <p>If you are a student looking for internships, please register as a student by clicking <a
                            href="/register/new">here</a>
                    </p>
                </div>
                <div class="fbGoogle bg-icon-color1">
                    <a href="">
                        <span>
                            <img class="iconImg"
                                src="https://www.interntheory.com/assets/iconsLogos/facebook-circular-logo.svg"
                                height="25">
                            <span style="margin-left: 20%;">SIGNIN WITH LINKDIN</span>
                        </span>
                    </a>
                </div>

                <div class="or">
                    <h5>OR</h5>
                </div>
                <div>
                    <form onsubmit="registerCompany(event)" class="form">
                        <div>
                            <input id="first" type="text" placeholder="first Name">
                            <input id="last" type="text" placeholder="last Name">
                        </div>

                        <div id="hide">
                            <input id="city" type="text" placeholder="Company Name *" required>
                            <input id="mobile" type="num" placeholder="Mobile Number *" required>
                            <input id="email" type="text" placeholder=" Email*" required>
                            <input id="password" type="text" placeholder="Password *" required>
                            <input id="how" type="text" placeholder="How did you find this *" required>

                        </div>
                        <button class="login_btn"> PROCEED TO POSTING
                            INTERNSHIP</button>
                    </form>
                </div>

            </div>
        </aside>
    </div>
    <div id="yo">
        <div>
            <h2>Other Ways In Which <span style="color: red;">We Can Help :)</span></h2>
            <hr>
            <p>Apart from catering as a free platform to post your internship and hire interns, we also provide an array
                of other services that may interest you :) !</p>
            <div>
                <div>
                    <img src="	https://assets.interntheory.com/creative/stepIcons/Annual-Intern.png" alt="">
                    <h3 class="spanRed">Annual Intern Recruitment</h3>
                    <hr>
                    <p class="parax m-zero">If you are an organization that works extensively with interns and needs them all round the year,
                        we offer specialized solutions to make your job easier and faster!</p>
                </div>
                <div>
                    <img src="	https://assets.interntheory.com/creative/stepIcons/Junior-Employee.png" alt="">
                    <h3 class="spanRed">Junior Employee Recruitment</h3>
                    <hr>
                    <h4 class="m-zero">(For Mumbai & Delhi Only)</h4>
                    <p class="parax m-zero">Apart from interns, if you are also looking to hire full time job candidates in the 0-3 years
                        experience range, you may want to talk to our specialized hiring team :)</p>
                </div>
                <div>
                    <img src="	https://assets.interntheory.com/creative/stepIcons/Youth-Marketing.png" alt="">
                    <h3 class="spanRed">Youth Marketing & Campus Activations</h3>
                    <hr>
                    <p class="parax m-zero">With a solid Pan-India Campus ambassador Network and a reach of more than 5 Lakh students and
                        2000 colleges, we help companies who wish to run student marketing campaigns among the 18-24 age
                        group.</p>
                </div>
            </div>
        </div>

    </div>
    <div id="footer">
        <%- include('../partials/footer') %>
    </div>



</body>

</html>



   
<script type="module">

    let user_info = JSON.parse(localStorage.getItem("user_info1"))
    
    import  {n12345,nbar12345 , afterLogout}  from '/js/navbar.js'
    

    if (user_info === null ) {
        document.getElementById('nn123').innerHTML = nbar12345();
    }
    
    else {
    
        document.getElementById('nn123').innerHTML = n12345(user_info.userid);
    
        let name = document.getElementById('name');
            name.innerText = user_info.userfir + " " +user_info.userlast;
    
            let mail = document.getElementById('mail');
            mail.innerText = user_info.useremail;
            
            let phno = document.getElementById('phno');
            phno.innerHTML= user_info.usermobile;

            let profile_img1 = document.getElementById('profile_img1');
            let profile_img2 = document.getElementById('profile_img2');
    
    
            afterLogout();
            
            if(user_info.usergen === "Male"){
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
                profile_img2.src ="https://assets.interntheory.com/creative/default-images/guyProfile.jpg";
             }
            else{
                profile_img1.src ="https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
                profile_img2.src = "https://assets.interntheory.com/creative/default-images/girlProfile.jpg";
            }
    
    
    }
    
    
    $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        });
    
        $('.feat-btn').click(function () {
            $('nav ul .feat-show').toggleClass("show");
        });
        $('.feat1-btn').click(function () {
            $('nav ul .feat1-show').toggleClass("show1");
        });
        $('.feat2-btn').click(function () {
            $('nav ul .feat2-show').toggleClass("show2");
        });
    
    </script>
    
